.encabezado .banner {
  background-color: #b2b2b2;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0; }
  .encabezado .banner .titulo-principal {
    margin-top: 5%; }
    .encabezado .banner .titulo-principal .titulo .nom-bank {
      display: block;
      text-transform: uppercase;
      font-size: 84px;
      -webkit-text-stroke: 3px white; }
    .encabezado .banner .titulo-principal .titulo .slogan {
      display: block; }
  .encabezado .banner .logo .img {
    border-radius: 15%;
    width: 300px; }
.encabezado .nav-bar {
  background: #ffbd17;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 20px solid black; }
  .encabezado .nav-bar .list-nav {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    padding: 0; }
    .encabezado .nav-bar .list-nav #li-4 {
      border-right: 0px solid white; }
    .encabezado .nav-bar .list-nav .list-item {
      padding: 1.5%;
      margin: 1%;
      width: 100%;
      text-align: center;
      font-size: 24px;
      list-style: none;
      border-right: 3px solid white; }
      .encabezado .nav-bar .list-nav .list-item .list-link {
        text-decoration: none;
        color: black; }

.seccion-principal {
  display: flex; }
  .seccion-principal .nav-lat {
    width: 75%; }
    .seccion-principal .nav-lat .formulario .tit-form {
      background: #232323;
      color: white;
      text-align: center;
      text-transform: uppercase;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      padding: 0.5%; }
    .seccion-principal .nav-lat .formulario .contenedor-form {
      background: #b2b2b2;
      text-align: center; }
      .seccion-principal .nav-lat .formulario .contenedor-form .eti-inp {
        padding: 2.5%;
        font-size: 16x; }
        .seccion-principal .nav-lat .formulario .contenedor-form .eti-inp .etiqueta {
          width: 50px;
          display: inline-block;
          text-align: left; }
        .seccion-principal .nav-lat .formulario .contenedor-form .eti-inp #tipo-cuenta {
          width: 207px; }
        .seccion-principal .nav-lat .formulario .contenedor-form .eti-inp .texto-inp {
          width: 200px; }
      .seccion-principal .nav-lat .formulario .contenedor-form .contenedor-boton {
        padding: 2.5%; }
        .seccion-principal .nav-lat .formulario .contenedor-form .contenedor-boton .boton {
          width: 150px;
          background: #feb215; }
    .seccion-principal .nav-lat .bar-lat .info-nav #tit-info1 {
      margin-top: 1em; }
    .seccion-principal .nav-lat .bar-lat .info-nav .tit {
      background: #141414;
      color: #feb215;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      margin: 0; }
    .seccion-principal .nav-lat .bar-lat .list2 .list-item1 {
      background: #232323;
      list-style: none;
      margin: 0;
      padding: 0;
      border: 0px solid white;
      text-align: center;
      padding: 2.75%; }
      .seccion-principal .nav-lat .bar-lat .list2 .list-item1 .list-link1 {
        text-decoration: none;
        color: white;
        font-size: 20px;
        max-width: 150px; }

.seccion2 {
  display: flex; }
  .seccion2 .seccion3 .article {
    width: 95%;
    margin-left: 5%; }
    .seccion2 .seccion3 .article .contenedor-articulo #t1 {
      border-top-left-radius: 25px; }
    .seccion2 .seccion3 .article .contenedor-articulo #t3 {
      border-top-right-radius: 25px; }
    .seccion2 .seccion3 .article .contenedor-articulo .contenedor-titulo {
      background: #232323;
      color: white;
      text-align: center;
      padding: 6.25%; }
      .seccion2 .seccion3 .article .contenedor-articulo .contenedor-titulo .titulo-articulo {
        margin: 0; }
    .seccion2 .seccion3 .article .contenedor-articulo .contenedor-imagen {
      text-align: center; }
      .seccion2 .seccion3 .article .contenedor-articulo .contenedor-imagen img {
        width: 175px;
        height: 125px; }
    .seccion2 .seccion3 .article .contenedor-articulo .contenedor-texto {
      background: linear-gradient(to top, #e2e2e2 0%, #fefefe 100%); }

/*# sourceMappingURL=estilos.css.map */
